@keyframes background-change {
	to {
		background: #000;
	}
}

.starting-parent {
	--border-opacity: 0;
	--child-opacity: 0;
}

.block {
	animation: background-change;
	animation-timeline: scroll();

	width: 100%;
	flex: 1 0 100px;
	background: rgb(11, 132, 243);
	border-radius: 5px;
	opacity: var(--child-opacity);
}

.parent {
	scrollbar-width: none;
	overflow-y: scroll;

	border: 2px solid rgba(139, 148, 158, var(--border-opacity));
	border-radius: 10px;

	position: absolute;
	top: 56px;
	right: 40px;
	width: 40%;
	height: 90%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 3lh;

	&::-webkit-scrollbar {
		display: none;
	}
}
